# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env
.vscode

# Mac OS files
**/.DS_Store
node_modules
.env

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json